header {
    display: flex;
    align-items: center;
    background-color: rgb(168, 204, 36);
    width: 100%;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.logo {
    font-size: 3rem;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
}


.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}


.success-message {
    color: green;
    margin-top: 10px;
}

img {
    width: 150px;
    height: 150px;
}